<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
              crossorigin="anonymous" />
    </head>
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col"></div>
                
                <div class="col-10 my-5">
                    
                    <h1>Home</h1>
                        
                </div>
                
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
