<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Posts</title>
        <meta charset="UTF-8" />
        
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
              crossorigin="anonymous" />
    </head>
    <body>
        <div th:switch="${posts}" class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No users yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Users</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Pubblication Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="post : ${posts}">
                                    <td th:text="${post.id}"></td>
                                    <td th:text="${post.title}"></td>
                                    <td th:text="${post.pubblicationDate}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </div>
    </body>
</html>
