<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Post</title>
        <meta charset="UTF-8" />
        
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
              crossorigin="anonymous" />
    </head>
    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col"></div>
                
                <div class="col-10 my-5">
                    <h2 th:text="${post.title}"></h2>
                    <p th:text="${post.content}"></p>
                    <p th:text="${post.pubblicationDate}"></p>
                    <p th:text="${post.author.username}"></p>
                </div>
                
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
